@(title:String, userId:String, chatRoomId:String)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@title</title>
     <link href="http://media.muchosmedia.com/scribblar/styles/style.css" rel="stylesheet" type="text/css" />     
     <script type="text/javascript" src="http://media.muchosmedia.com/scribblar/scripts/includes.js"></script> 
    
     <script type="text/javascript">
        
        var targetID = "scribblar";
        var flashvars = {};
        /* pass necessary variables to the SWF */
        flashvars.userid = "@chatRoomId";    			/* to log on as an anonymous guest pass 0 (works as long as guests are allowed for this room) */
        flashvars.roomid = "@chatRoomId";				/* the roomid for the room you'd like to access - substitute this for a valid roomid */
        flashvars.preferredLocales = "en_US";		/* sets the language - if in doubt leave as en_US */
        
        /* optional: if you pass userid=0 you may also pass a username to skip the username prompt and log the user in using that username 
        flashvars.username = "John"; */
        
        var params = {};
        params.allowscriptaccess = "always";
        
        var attributes = {};
        attributes.id = "scribblar";
        attributes.name = "scribblar";
        swfobject.embedSWF("http://media.muchosmedia.com/scribblar/v3/main.swf", "alternate", "100%", "100%", "11.1.0", "http://media.muchosmedia.com/swfobject/expressInstall.swf", flashvars, params, attributes);
    </script> 
</head>

<body scroll="no">
<div id="alternate"> <a href="http://www.adobe.com/go/getflashplayer">This page requires the latest version of Adobe Flash. Please download it now.<br>
  <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" border="0" alt="Get Adobe Flash Player" /> </a> </div>
</body>
</html>

